.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    border-left:none;
    display: block;
    text-align: center;
    margin: 8.5px auto 0px;
    background-color: #eee;
}
.progressBar li:after {
    content: "";
    position: absolute;
    width: 97%;
    height: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-right:none;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: dodgerblue;
}

.progressBar li.active:before {
    border-color: dodgerblue;
    background-color: dodgerblue
}

.progressBar .active:after {
    background-color: dodgerblue;
}

.tabs {
  clear: both;
  position: relative;   
   max-width: 650px;
   margin: 0 auto;
   /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
  float: left;
}

.tab label {
  margin-right: 20px;
  position: relative;
  top: 0;
  cursor: pointer;
  color: #333;
   text-transform: uppercase;
}

.tab [type=radio] {
  display: none;   
}

.tab__content {
   position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
  opacity: 0;
}

[type=radio]:checked ~ label {
  border-bottom: 2px solid #1d1d1d;
  color: #1d1d1d;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}

.bg-primary,
.btn-primary,
.btn-soft-primary:hover, 
.btn-soft-primary:focus, 
.btn-soft-primary:active, 
.btn-soft-primary.active, 
.btn-soft-primary.focus,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.pagination .page-item.active .page-link,
.nav-pills .nav-link.active,
#preloader #status .spinner .double-bounce1, 
#preloader #status .spinner .double-bounce2,
.social-icon li a:hover,
#topnav .navbar-toggle.open span:hover,
.bg-animation-left.crypto-home:after,
.bg-animation-left.task-management-home:after,
.classic-app-image .bg-app-shape:after,
.classic-saas-image .bg-saas-shape:after,
.swiper-slider-hero .swiper-container .swiper-button-prev:hover,
.features.fea-primary:hover,
.tns-nav button.tns-nav-active,
.ribbon.ribbon-primary span,
.sidebar .widget .tagcloud > a:hover,
.work-container.work-modern .icons .work-icon:hover,
.timeline-page .timeline-item .date-label-left:after, 
.timeline-page .timeline-item .duration-right:after,
#navmenu-nav li.account-menu.active .navbar-link,
#navmenu-nav li.account-menu:hover .navbar-link,
.form-check-input.form-check-input:checked,
.qs-datepicker-container .qs-squares .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover, 
.qs-datepicker-container .qs-squares .qs-square.qs-current {
    background-color: #7952B3 !important;
}
.search-results {
    height: 20rem;
    overflow: scroll;
  }
.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}  
.text-primary,
.bg-soft-primary,
.component-wrapper.sticky-bar li a:hover, 
.component-wrapper.sticky-bar li a:focus,
.btn-soft-primary,
.btn-outline-primary,
.dropdown-primary .dropdown-menu .dropdown-item:hover, 
.dropdown-primary .dropdown-menu .dropdown-item.active, 
.dropdown-primary .dropdown-menu .dropdown-item:active, 
.dropdown-primary .dropdown-menu .dropdown-item.focus, 
.dropdown-primary .dropdown-menu .dropdown-item:focus,
.alert-outline-primary,
.breadcrumb .breadcrumb-item a:hover,
.breadcrumb .breadcrumb-item.active,
#topnav .has-submenu.active .submenu li.active > a,
#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a,
#topnav .navigation-menu > li > a:hover, 
#topnav .navigation-menu > li > a:active,
#topnav.scroll .navigation-menu > li:hover > a, 
#topnav.scroll .navigation-menu > li.active > a,
#topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
#topnav.nav-sticky .navigation-menu.nav-light > li:hover > a, 
#topnav.nav-sticky .navigation-menu.nav-light > li.active > a,
#topnav .navigation-menu > li .submenu li a:hover,
#topnav .navigation-menu > li:hover > a,
#topnav .navigation-menu > li.active > a,
#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li .submenu li a:hover,
#topnav .navigation-menu > li.has-submenu.open > a,
#topnav .has-submenu.active a,
.features.feature-clean .title:hover,
.features.fea-primary .content .title:hover,
.categories a:hover,
.explore-feature:hover .icon,
.explore-feature:hover .title,
.pricing-rates.business-rate:hover .title,
.blog .content .title:hover,
.blog .content .post-meta .readmore:hover,
.sidebar .widget .blog-categories li a:hover,
.sidebar .widget .post-recent .post-recent-content a:hover,
.media-list .media .media-heading:hover,
.job-box .position a:hover,
.job-box .company-name:hover,
.candidate-list .name:hover,
.company-list .name:hover,
.work-container.work-classic .content .title:hover, 
.work-container.work-grid .content .title:hover, 
.work-container.work-modern .content .title:hover,
.event-schedule .content .title:hover,
.courses-desc .content .title:hover,
.container-filter li.active, .container-filter li:hover,
.shop-list .content .product-name:hover,
.team .name:hover,
.accordion .accordion-button:not(.collapsed),
.accordion .accordion-item .accordion-button:before,
#navmenu-nav li.active a {
    color: #7952B3 !important;
}

.btn-primary,
.btn-soft-primary:hover, 
.btn-soft-primary:focus, 
.btn-soft-primary:active, 
.btn-soft-primary.active, 
.btn-soft-primary.focus,
.btn-outline-primary,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.alert-primary,
.alert-outline-primary,
.pagination .page-item.active .page-link,
.form-check-input.form-check-input:checked,
.form-control:focus,
.form-check-input:focus,
.social-icon li a:hover,
#topnav .has-submenu.active.active .menu-arrow,
#topnav .has-submenu .submenu .has-submenu:hover .submenu-arrow,
#topnav.scroll .navigation-menu > li:hover > .menu-arrow, 
#topnav.scroll .navigation-menu > li.active > .menu-arrow,
#topnav.nav-sticky .navigation-menu.nav-light > li:hover > .menu-arrow, 
#topnav.nav-sticky .navigation-menu.nav-light > li.active > .menu-arrow,
#topnav .navigation-menu > li:hover > .menu-arrow,
.swiper-slider-hero .swiper-container .swiper-button-next:hover,
.pricing-rates.starter-plan,
.event-schedule:hover,
.container-filter li.active, .container-filter li:hover{
    border-color: #7952B3 !important;
}

.bg-soft-primary,
.btn-soft-primary,
.features .icon,
.features.feature-clean .icons i,
.features:hover .image:before,
.app-feature-shape-right:after,
.app-feature-shape-left:after,
.saas-feature-shape-left:after,
.saas-feature-shape-right:after,
.social-feature-left:after,
.social-feature-right:after,
.event-schedule .date .day {
    background-color: rgba(121, 82, 179, 0.1) !important;
}

.bg-soft-primary,
.btn-soft-primary {
    border: 1px solid rgba(121, 82, 179, 0.1) !important;
}

.app-feature-shape-right:after,
.app-feature-shape-left:after,
.saas-feature-shape-left:after,
.saas-feature-shape-right:after,
.social-feature-left:after,
.social-feature-right:after {
    box-shadow: 0 0 40px rgba(121, 82, 179, 0.1);
}

.event-schedule .date .day {
    box-shadow: 0px 0px 2px 0.25px rgba(121, 82, 179, 0.5);
}

.btn-primary,
.btn-soft-primary,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active {
    box-shadow: 0 3px 5px 0 rgba(121, 82, 179, 0.3);
}

.btn-disabled {
    box-shadow: 1 3px 5px 0 rgba(121, 82, 179, 0.3);
    border-color: #7952B3 !important;
    color: #6d48a4 !important;
}

.alert-primary,
.pagination .page-item .page-link:hover,
::selection {
    background: rgba(121, 82, 179, 0.9);
    border-color: rgba(121, 82, 179, 0.9);
}

.social-icon li a:hover .fea-social {
    fill: #7952B3;
}

.bg-circle-gradiant {
    background: radial-gradient(circle at 50% 50%, rgba(121, 82, 179, 0.1) 0%, rgba(121, 82, 179, 0.1) 33.333%, rgba(121, 82, 179, 0.3) 33.333%, rgba(121, 82, 179, 0.3) 66.666%, rgba(121, 82, 179, 0.5) 66.666%, rgba(121, 82, 179, 0.5) 99.999%);
}

.tns-nav button {
    background: rgba(121, 82, 179, 0.5) !important;
}

.classic-app-image .bg-app-shape:after,
.classic-saas-image .bg-saas-shape:after,
.freelance-hero .bg-shape:after {
    box-shadow: 0 0 40px rgba(121, 82, 179, 0.5);
}

.freelance-hero .bg-shape:after {
    background-color: #beabda;
}

.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(121, 82, 179, 0.15));
}

.features .image:before {
    background: linear-gradient(45deg, transparent, rgba(121, 82, 179, 0.1));
}

.home-wrapper:before {
    background: -webkit-gradient(linear, left top, right top, from(rgba(121, 82, 179, 0.3)), to(transparent));
    background: linear-gradient(90deg, rgba(121, 82, 179, 0.3), transparent);
}

.play-icon i {
    -webkit-text-stroke: 2px #7952B3;
    -webkit-text-fill-color: transparent;
}

.play-icon i:hover {
    -webkit-text-stroke: 2px #7952B3;
    -webkit-text-fill-color: #7952B3;
}

a.text-primary:hover, 
a.text-primary:focus {
    color: #6d48a4 !important;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary.focus {
    background-color: #614092 !important;
    border-color: #614092 !important;
}

.ribbon.ribbon-primary span:before {
    border-left-color: #614092;
    border-top-color: #614092;
}

.ribbon.ribbon-primary span:after {
    border-right-color: #614092;
    border-top-color: #614092;
}


.blue-bg {
  background-color: transparent;
  color: #f8f9fc;
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #614092;
  color: #614092;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #614092;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #614092!important;
  margin: 0!important;
  top: 17px!important;
  position: relative!important;
  color: #614092!important; 
  background-color: #614092!important; 
  border: 0; 
  opacity: 1!important;
  background-color: transparent!important;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #614092;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}


.blue-bg {
    background-color: transparent;
    color: #f8f9fc;
    height: 100%;
  }
  
  .circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #614092;
    color: #f8f9fc;
    max-height: 50px;
    z-index: 2;
  }
  
  .how-it-works.row {
    display: flex;
  }
  .how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #614092;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #614092!important;
    margin: 0!important;
    top: 17px!important;
    position: relative!important;
    color: #614092!important; 
    background-color: #614092!important; 
    border: 0; 
    opacity: 1!important;
    background-color: transparent!important;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #614092;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }