<div class="container">
  <section class="section">
    <br><br><br>
    <div class="row" class="">
      <div class="col-xs-12 col-md-8 offset-md-2 block" >
        <div class="wrapper-progressBar">
          <ul class="progressBar">
            <li class="active">Leve 1</li>
            <li class="active">Leve 2</li>
            <li>Leve 3</li>
          </ul>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="row" class="col-xs-12 col-md-8 offset-md-2 block border card-body p-0 rounded" style="background-color:#1c2530;">
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
      <br><br><br>
    <div style="width: 50%;margin: 0 auto;text-align: center;" class="mb-3">
      <label class="form-label">Answer</label>
      <div class="form-icon position-relative">
        <input placement="bottom" ngbTooltip="Please write this code down." name="customerId" type="text" class="form-control ps-5">
          <br>
      </div>
    </div>

    </div>

</section>
</div>