<div class="container">
  <section class="section">
    <br><br><br>
    <div class="text-capitalize text-dark mb-4 error-page" style="text-align: center;">{{_currentCube.stories[0].name}}</div>
    <div class="row" class="">
      <div class="col-xs-12 col-md-8 offset-md-2 block" >
        <div class="wrapper-progressBar">
          <ul class="progressBar">
            <li [ngClass]="{'active' : level.isSolved || level.isCurrent}" class="active" [style.width]="getLevelTrackerSegmentWidth()" *ngFor="let level of _currentCube.stories[0].levels ">{{level.title}}</li>
          </ul>
        </div>
      </div>
    </div>
    <br><br><br>
    <div id="grid" class="row mt-4 pt-2"> 
      <div  class="col-lg-2 col-md-2 col-6 picture-item" style="margin: 0 auto;text-align: center;margin-bottom: 30px;">
          <div class="card border-0 work-container work-classic">
              <div class="card-body p-0 rounded" style="background-color:#1c2530; text-align: center;">
                  <a><img style="width: 95%; margin-top: 8px;" src="{{_currentCube.imageLink}}"
                          class="img-fluid rounded work-image box" alt=""></a>
                  <div class="content pt-3" style="text-align: center;">
                      <h5 class="mb-0" style="margin-bottom: 8px;"><a 
                              class="text-dark title"><span class="text-muted" > #{{parseAssetName(_currentCube.assetName)}}</span></a></h5><br>

                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-7 col-md-7 col-7 picture-item block card-body p-0 rounded" style="background-color:#1c2530;">
        {{ _currentCube.stories[0].description }}<br><br><br><br><br><br><br><br><br><br><br><br>
        
        <hr>

        <div style="width: 50%;margin: 0 auto;text-align: center;" class="mb-3">


          <label class="form-label">Attachments</label>


          <div id="grid" class="row mt-4 pt-2"> 
            <div  class="col-lg-2 col-md-2 col-6 picture-item" style="margin: 0 auto;text-align: center;margin-bottom: 30px;"  *ngFor="let file of _currentLevel.files">
              <a [href]="file.url"><div class='thread-reply-file'>
                <img src='https://cdn4.iconfinder.com/data/icons/CS5/128/ACP_PDF%202_file_document.png'>
                <span>{{file.name}}</span>
              </div></a>
            </div>
          </div>
        </div>
        <hr>
      <div style="width: 50%;margin: 0 auto;text-align: center;" class="mb-3">
        <label class="form-label">Answer</label>
        <div class="form-icon position-relative">
          <input #answer  placement="bottom" type="text" class="form-control ps-5">
            <br>
            <span>
              <div (click)="onClick(answer.value)" class="buy-button">
                <a class="btn btn-primary">Submit</a>
              </div>
            </span>
        </div>
      </div>
  
      </div>
      <!--end col-->
  </div>



</section>
</div>

<!-- Back to top -->
<!-- Empty Modal Content Start -->
<ng-template #ModalContentCorrect let-modal>
  <div class="modal-content rounded shadow border-0" style="background-color:#1c2530 ">
    <div class="modal-body py-5">
      <div class="text-center">
        <h5>Correct!</h5>
          <sa-spinner-dotted styles='{"background-color": "transparent", "color":"#7c4fb0", "size": "200px", "height": "200px", "width": "100px"}'></sa-spinner-dotted>
          <p class="text-muted">You provided the right answer! please wait.</p>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #ModalContentIncorrect let-modal>
  <div class="modal-content rounded shadow border-0" style="background-color:#1c2530 ">
    <div class="modal-body py-5">
      <div class="text-center">
        <h5>Incorrect!</h5>
          <sa-spinner-dotted styles='{"background-color": "transparent", "color":"#7c4fb0", "size": "200px", "height": "200px", "width": "100px"}'></sa-spinner-dotted>
          <p class="text-muted">You provided the wrong answer!.</p>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal Content End -->