<div class="container">
  <section class="section">
    <br><br><br>
    <div class="text-capitalize text-dark mb-4 error-page" style="text-align: center;">{{_content.getStoryTitle()}}</div>
    <div class="row" class="">
      <div class="col-xs-12 col-md-8 offset-md-2 block" >
        <div class="wrapper-progressBar">
          <ul class="progressBar">
            <li [ngClass]="{'active' : level.isSolved || level.isCurrent}" class="active" [style.width]="getLevelTrackerSegmentWidth()" *ngFor="let level of _currentCube.stories[0].levels;let indexOfelement=index;"><span>{{_content.getLevelName(indexOfelement)}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <br><br><br>
    <div id="grid" class="row mt-4 pt-2"> 
      <div  class="col-lg-2 col-md-2 col-6 picture-item" style="margin: 0 auto;text-align: center;margin-bottom: 30px;">
        <h5 class="mb-0" style="margin-bottom: 8px;" style="margin-top: 10px;" ><a 
          class="text-dark title"><span class="text-muted">Horrocube</span></a></h5><br>  
          <div class="card border-0 work-container work-classic">
              <div class="card-body p-0 rounded" style="background-color:#1c2530; text-align: center;">
                           
                  <a><img style="width: 95%; margin-top: 8px;" src="{{_currentCube.imageLink}}"
                          class="img-fluid rounded work-image box" alt=""></a>
                  <div class="content pt-3" style="text-align: center;">
                      <h5 class="mb-0" style="margin-bottom: 8px;"><a 
                              class="text-dark title"><span class="text-muted" > #{{parseAssetName(_currentCube.assetName)}}</span></a></h5><br>

                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-7 col-md-7 col-7 picture-item block card-body p-0 rounded" style="background-color:#1c2530;size: auto;">
        <div class="text-capitalize text-dark mb-4 error-page" style="text-align: center; font-size: 20px;margin-top: 20px;">{{ getCurrentLevelTitle() }}</div>
        <div [innerHTML]=getCurrentContent()></div><br><br>
        <hr>

        <div style="width: 80%;margin: 0 auto;text-align: center;" class="mb-3">


          <label class="form-label">Hints</label>
          <div [innerHTML]=getCurrentHint() style="color: black;
          background-color:black;width: 100%;text-align: justify;"></div><br><br>
          <span class="text-muted">Still feeling stuck? Head over our <a class="mt-3 text-primary" href="https://discord.gg/QFM39fwA6j">Discord</a>, we discussion channels for all puzzles.</span>
        <br></div><br><br>
        <hr>
      <div style="width: 50%;margin: 0 auto;text-align: center;" class="mb-3">
        <label class="form-label">Answer</label>
        <div class="form-icon position-relative">
          <input #answer id="answer" [className]="_invalidAnswer ? 'form-control ps-5 invalid' : 'form-control ps-5'" placement="bottom" type="text">
            <br>
            <span>
              <div (click)="onClick(answer.value)" class="buy-button">
                <a class="btn btn-primary">Submit</a>
              </div>
            </span>
        </div>
      </div>

      </div>
      <div  class="col-lg-2 col-md-2 col-6 picture-item" style="margin: 0 auto;text-align: center;margin-bottom: 30px;">
        <h5 class="mb-0" style="margin-bottom: 8px;" style="margin-top: 10px;" ><a 
          class="text-dark title"><span class="text-muted" style="margin-bottom: -20px;">Rewards</span></a></h5>  
        <div class="card border-0 work-container work-classic" *ngFor="let reward of getCurrentLevelRewards().name;let indexOfelement=index;" style="margin-top: 20px;">
          <div class="card-body p-0 rounded" style="background-color:#1c2530; text-align: center;">

                <div >
                <a><img style="width: 95%; margin-top: 8px;" src="{{getCurrentLevelRewards().image[indexOfelement]}}"
                        class="img-fluid rounded work-image box" alt=""></a>

                <div class="content pt-3" style="text-align: center;">
                    <h5 class="mb-0" style="margin-bottom: 8px;"><a 
                            class="text-dark title"><span class="text-muted" > {{getCurrentLevelRewards().name[indexOfelement]}}</span></a></h5><br>
                </div>
              </div>

            </div>
        </div>
    </div>
      <!--end col-->
  </div>



</section>
</div>

<!-- Back to top -->
<!-- Empty Modal Content Start -->
<ng-template #ModalContentCorrect let-modal>
  <div class="modal-content rounded shadow border-0" style="background-color:#1c2530 ">
    <div class="modal-body py-5">
      <div class="text-center">
        <h5>Correct!</h5>
          <sa-spinner-dotted styles='{"background-color": "transparent", "color":"#7c4fb0", "size": "200px", "height": "200px", "width": "100px"}'></sa-spinner-dotted>
          <p class="text-muted">You provided the right answer! please sign the transaction.</p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #WaitingForConfirmation let-modal>
  <div class="modal-content rounded shadow border-0" style="background-color:#1c2530 ">
    <div class="modal-body py-5">
      <div class="text-center">
        <h5>Waiting for Confirmation...</h5>
          <sa-spinner-dotted styles='{"background-color": "transparent", "color":"#7c4fb0", "size": "200px", "height": "200px", "width": "100px"}'></sa-spinner-dotted>
          <p class="text-muted">Waiting for the transaction to be confirmed. This could take up to a minute.</p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ModalContentIncorrect let-modal>
  <div class="modal-content rounded shadow border-0" style="background-color:#1c2530 ">
    <div class="modal-body py-5">
      <div class="text-center">
        <h5>Incorrect!</h5>
          <sa-spinner-dotted styles='{"background-color": "transparent", "color":"#7c4fb0", "size": "200px", "height": "200px", "width": "100px"}'></sa-spinner-dotted>
          <p class="text-muted">You provided the wrong answer!.</p>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal Content End -->